input{
    border: none;
    background-color: transparent;
}
button{
    background-color: transparent;
    border:none;
}

input:focus,
select:focus,
textarea:focus,
button:focus {
    outline: none;
}