@import url('https://fonts.googleapis.com/css?family=Roboto+Slab:300,400,700&display=swap');

$main-font: 'Roboto Slab', serif;
$text-groesse: '22px';
$zitat_groesse: '24px';

*{
    font-family: $main-font;
}

.zitat{
    font-size: $text-groesse;
}